baseURL: "https://about.archaeo.social/"
title: archaeo.social
theme: PaperMod

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

#googleAnalytics: UA-123-45

minify:
  disableXML: true
  minifyOutput: true

params:
  env: production # to enable google analytics, opengraph, twitter-cards and schema.
  title: archaeo.social
  description: "Open, federated social media for archaeology"
  keywords: ["archaeology", "social media", "fediverse", "mastodon", "matrix"]
  author: "archaeo.social collective"
  #author: ["Me", "You"] # multiple authors
  images: ["/archaeo-social-logo.svg"]
  DateFormat: "2006-01-02"
  defaultTheme: auto # dark, light
  disableThemeToggle: false

  ShowReadingTime: true
  ShowShareButtons: true
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: false
  ShowWordCount: false
  ShowRssButtonInSectionTermList: false
  UseHugoToc: true
  disableSpecial1stPost: false
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  showtoc: false
  tocopen: false

  assets:
    disableHLJS: true # to disable highlight.js
    # disableFingerprinting: true

  label:
    text: "archaeo.social"
    icon: /archaeo-social-logo.svg
    iconHeight: 32

  # profile-mode
  profileMode:
    enabled: true # needs to be explicitly set
    title: archaeo.social
    subtitle: "Open, federated social media for archaeology"
    imageUrl: "/archaeo-social-logo.svg"
    imageWidth: 160
    imageHeight: 160
    #imageTitle: my image
    buttons:
      - name: services
        url: services
      - name: faq
        url: faq
      - name: donate
        url: https://opencollective.com/archaeosocial

  socialIcons:
    - name: mastodon
      url: "https://archaeo.social"
    - name: matrix
      url: "https://chat.archaeo.social"
    - name: github
      url: "https://github.com/archaeo-social"

  cover:
    hidden: true # hide everywhere but not in structured data
    hiddenInList: true # hide on list pages and home
    hiddenInSingle: true # hide on single page

  editPost:
    URL: "https://github.com/archaeo-social/about/content"
    Text: "Suggest Changes" # edit text
    appendFilePath: true # to append file path to Edit link

  # for search
  # https://fusejs.io/api/options.html
  # fuseOpts:
  #   isCaseSensitive: false
  #   shouldSort: true
  #   location: 0
  #   distance: 1000
  #   threshold: 0.4
  #   minMatchCharLength: 0
  #   keys: ["title", "permalink", "summary", "content"]

menu:
  main:
    - identifier: services
      name: services
      url: /services
      weight: 10
    - identifier: faq
      name: faq
      url: /faq
      weight: 15
    - identifier: status
      name: status
      url: https://status.archaeo.social
      weight: 20
    - identifier: opencollective
      name: donate
      url: https://opencollective.com/archaeosocial
      weight: 30

# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
pygmentsUseClasses: true
markup:
  highlight:
    noClasses: false
    # anchorLineNos: true
    # codeFences: true
    # guessSyntax: true
    # lineNos: true
    # style: monokai
